row{top:20px;}
        .row1.seven_row .arrow,.row1.eight_row .arrow,.row1.nine_row .arrow,.row1.ten_row .arrow
        ,.row1.eleven_row .arrow ,.row1.twelve_row .arrow{top:17px;}

        .row1 .arrow{display:block;width:24px;height:5px;}
        .row1.one_row .arrow1,.row1.seven_row .arrow1,.row1.eight_row .arrow1
        ,.row1.nine_row .arrow1,.row1.ten_row .arrow1,.row1.eleven_row .arrow1,.row1.twelve_row .arrow1{left:-24px;}
        .row1.one_row .arrow2,.row1.eleven_row .arrow2{left:124px;}
        .row1.twelve_row .arrow2{left:147px;}
        .row1.one_row .arrow3,.row1.eleven_row .arrow3{left:271px;}

        .row1.two_row .arrow1,.row1.three_row .arrow1,.row1.four_row .arrow1
        ,.row1.five_row .arrow1, .row1.six_row .arrow1,.row1.seven_row .arrow2,
        .row1.eight_row .arrow2,.row1.nine_row .arrow2,.row1.ten_row .arrow2{left:124px;}
        .row1.two_row .arrow2,.row1.three_row .arrow2,.row1.four_row .arrow2
        , .row1.five_row .arrow2, .row1.six_row .arrow2,.row1.seven_row .arrow3,
        .row1.eight_row .arrow3, .row1.nine_row .arrow3{left:271px;}
        .row1.two_row .arrow3,.row1.three_row .arrow3, .row1.four_row .arrow3
        ,.row1.five_row .arrow3,.row1.six_row .arrow3,.row1.seven_row .arrow4
        ,.row1.eleven_row .arrow4,.row1.nine_row .arrow4{left:418px;}
        .row1.seven_row .arrow5,.row1.two_row .arrow4,.row1.three_row .arrow4
        ,.row1.five_row .arrow4,.row1.six_row .arrow4{left:565px;}
        .row1.seven_row .arrow6,.row1.three_row .arrow5,.row1.five_row .arrow5{left:712px;}
        .row1.seven_row .arrow7,.row1.three_row .arrow6,.row1.five_row .arrow6{left:860px;}
        .row1.seven_row .arrow8{left:860px;top:90px;}
        .row1.seven_row .arrow9{position: absolute;left:798px;top:66px;height:10px;}

        .row1 div{width:126px;height:39px;text-align: center;}
        .row1 div p{width:126px;height:39px;display: table-cell;vertical-align: middle;}
        .row1 div span{display:inline-block;width:91px;height:15px;line-height:15px;text-align: center;
           background-color:#fff; position: absolute;top:34px;left:12%;}
        .row1 div span.img_style{width:23px;height:20px;line-height:20px;left:42%;}
        .row1 div span.img_style1{left:40%;}
        .row1 div span.img_style2{left:39%;}
        .arrow_block{position:absolute;top:144px;left:144px;}
        .arrow_line{display: inline-block;height:1px;background-color:#4a7ebb;position: absolute;top:18px;}
        .arrow_line.line1{width:30px;left:1000px;}
        .arrow_line.line2{width:1px;height:49px;left:1030px;}
        .arrow_line.line3{width:232px;left:799px;top:66px;}
        .row1 div span.img_style.two_work{width:50px;}
        .row1 div span.img_style2.two_work{left:27%;}
        .row1 div span.img_style.two_work b{color:#d15900;}
        .row1 div.width_p{width:150px;padding-left:10px;}
        .self_style{  -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border:1px solid #fff;}
        .flow8_span1{background:#008cdc url("${basePath}/legislation/assets/demo/icon01.png") no-repeat center;}
        .flow8_span2{background:#008cdc url("${basePath}/legislation/assets/demo/icon02.png") no-repeat center;}
        .flow8_span3{background:#008cdc url("${basePath}/legislation/assets/demo/icon03.png") no-repeat center;}
